body {
  background-color: #f7f5e6;
  color:#333a56;
  margin: 0px;
  font-family: 'Bitter', serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #526586;
}

nav li {
  display: inline;
}

nav a {
  color: white;
}

img {
  width: 50%;
  grid-column: 1;
  grid-row: 2;
}

strong {
  font-weight: 600;
}

#name {
  font-size: 25px;
}

#home #content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 15% auto auto;
  grid-gap: 10px;
}

#resume #content {
  margin-top: 70px;
}

#summary {
  grid-row: 2;
}

#links {
  grid-column: 2;
  grid-row: 3;
}

#resume #content section:not(#personal_info) {
  width: auto;
  padding: 10px 50px 55px 50px;
}

#personal_info {
  width: auto;
  height: 100px;
  background-color: #333a56;
  color: white;
  padding: 30px 50px 15px 50px;
}

#experience {
  display: grid;
  background-color: white;
  grid-template-columns: 25% auto;
}

#experience h3, .date {
  grid-column: 1;
}

#experience p:not(.date), #experience ul {
  grid-column: 2;
}

footer {
  text-align: center;
}
