body {
  background-color: #f7f5e6;
  color: #333a56;
  margin: 0px;
  font-family: 'Bitter', serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}

main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header p {
  font-family: 'Satisfy', cursive;
  font-size: 35px;
}

nav {
  top: 0px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 5px;
  position: fixed;
  color: white;
  background-color: #333a56;
  display: flex;
  justify-content: space-around;
}

nav ul {
  padding-top: 10px;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

footer {
  text-align: center;
}

ul {
  margin-left: 40px;
}

#home img {
  width: 70%;
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
}

#home .icon {
  width: 15%;
  margin-right: 15px;
}

#background {
  z-index: auto;
  margin-top: 50px;
  margin-left: 80px;
  height: 500px;
  width: 883px;
  background: linear-gradient(81deg, #333a56 35%, white 35%);
  grid-column: 1;
  grid-row: 2;
}

#name {
  font-size: 25px;
}

#home #content {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 10% auto auto;
  grid-column-gap: 30px;
  padding-bottom: 50px;
}

#resume #content {
  padding-top: 100px;
  padding-bottom: 50px;
}

#resume h1 {
  margin-bottom: 25px;
}

#resume ul li {
  list-style: outside;
}

#welcome {
  margin-top: 70px;
  grid-row: 2;
  grid-column: 2;
}

#summary {
  margin-top: 250px;
  grid-row: 2;
  grid-column: 2;
}

#highlights {
  grid-column: 1;
  grid-row: 2;
  margin-top: 315px;
  margin-left: 100px;
  color: white;
}

#highlights p {
  margin-bottom: 20px;
}

#resume #content section:not(#personal_info) {
  width: auto;
  padding: 30px 50px 55px 50px;
}

#personal_info {
  width: auto;
  height: 100px;
  background-color: #333a56;
  color: white;
  padding: 30px 50px 15px 50px;
}

#experience {
  display: grid;
  background-color: white;
  grid-template-columns: 25% auto;
  grid-row-gap: 15px;
}

#experience h3, .date {
  grid-column: 1;
}

#experience p:not(.date), #experience ul {
  grid-column: 2;
}

#experience li {
  margin-top: 5px;
}

#resume #content h1 {
  display:inline-block;
}

#pdf_resume {
  color: #333a56;
  display:inline-block;
  float: right;
  margin-top: 20px;
}

#volunteer #content {
  padding-top: 100px;
  padding-bottom: 50px;
}

#volunteer #content section {
  display: grid;
  grid-template-columns: 65% auto;
  grid-template-rows: 40% auto;
  padding-bottom: 50px;
  background-color: #333a56;;
  color: white;
  padding-left: 20px;
}

#volunteer p {
  grid-row: 2;
}

#volunteer img {
  width: 80%;
  grid-row: 1 / span 2;
  justify-self: center;
  padding-top: 20px;
}

#volunteer h1 {
  margin-bottom: 25px;
}

#volunteer #content > section:nth-child(3) {
  background-color: white;
  color: #333a56;
}

.bold_text {
  font-weight: 600;
}
